<main>
  <div class="app-main">
    <div class="navigation-options">
      <a
        [routerLink]="'template-driven-form'"
        routerLinkActive="active"
        class="navigation-options__option"
        >Template Driven Form</a
      >
      <a
        [routerLink]="'model-driven-form'"
        class="navigation-options__option"
        routerLinkActive="active"
        >Model Driven Form</a
      >
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
