main {
  padding: 0 4rem;

  .app-main {
    border: 1px solid orange;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;

    .navigation-options {
      width: 100%;

      &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
      }

      &__item {
        text-decoration: none;
        cursor: pointer;
        margin: 1rem;

        &:hover {
          color: deeppink;
          text-decoration: underline;
        }
      }
    }
  }
}
