.alert {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;

  .left {
    align-self: flex-start;
  }

  .right {
    align-self: flex-end;
  }

  .center {
    align-self: center;
  }
}

.info {
  background: #b8daff;
}

.success {
  background: #d4edda;
}

.danger {
  background: #f8d7da;
}

.warning {
  background: #fff3cd;
}
