<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="animal-checkbox-group" formArrayName="selectedAnimal">
    <p>Selecting one animal is mandatory</p>
    <div class="animal-item" *ngFor="let animal of animals">
      <label>
        <input type="checkbox" (change)="animalSelected($event, animal)" />
      </label>
      <label>{{ animal }}</label>
    </div>
  </div>
  <div class="transport-checkbox-group" formArrayName="selectedTransport">
    <p>Selecting one transport mode is mandatory</p>

    <!-- option 1 -->
    <div class="road-checkbox">
      <label>
        <input
          type="checkbox"
          (change)="
            this.roadCheckbox = !this.roadCheckbox;
            transportSelected($event, 'ROAD')
          "
        />
      </label>
      <label>ROADWAYS</label>
    </div>
    <div *ngIf="roadCheckbox">
      <div class="road-type-selection">
        <div>
          <input
            type="radio"
            checked
            name="abc"
            (change)="roadToggle('rail')"
          />Railway
        </div>
        <div>
          <input type="radio" name="abc" (change)="roadToggle('road')" />Road
          (more options)
        </div>
      </div>
      <div class="road-types" *ngIf="roadOptions">
        <p>below are mandatory</p>
        <div>Road Name: <input type="text" formControlName="roadName" /></div>
        <div>Zip Code: <input type="text" formControlName="roadZip" /></div>
      </div>
    </div>
    <hr />

    <!-- option 2 -->
    <div class="air-checkbox">
      <label>
        <input
          type="checkbox"
          (change)="
            this.airCheckbox = !this.airCheckbox;
            transportSelected($event, 'AIR')
          "
        />
      </label>
      <label>AIRWAYS</label>
    </div>
    <div *ngIf="airCheckbox">
      <p>below are mandatory</p>
      <div class="air-types">
        <div>Plane Name: <input type="text" formControlName="planeName" /></div>
        <div>Plane Code: <input type="text" formControlName="planeZip" /></div>
      </div>
    </div>
    <hr />

    <!-- option 3 -->
    <div class="water-checkbox">
      <label>
        <input type="checkbox" (change)="transportSelected($event, 'WATER')" />
      </label>
      <label>WATERWAYS</label>
    </div>
    <hr />
  </div>
  <div>
    <div><button type="reset">RESET</button></div>
    <div>
      <button type="submit" [disabled]="!formData.valid">SUBMIT</button>
    </div>
  </div>
</form>
